@if (perfil()) {
<nav class="navbar navbar-expand-lg custom-navbar px-4">
  <div class="container-fluid">

    <a class="navbar-brand p-0" [routerLink]="['/home']">
        <img src="images/logoTajamar.png" alt="Logo" class="navbar-logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav mx-auto align-items-center nav-links-container">
        
        <li class="nav-item">
          <a class="nav-link nav-pill-item me-2" 
             [routerLink]="['/home']" 
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-house-door me-2"></i> Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-pill-item me-2" 
             [routerLink]="['/materiales']" 
             routerLinkActive="active-link">
            <i class="bi bi-calendar-event-fill me-2"></i> Materiales
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-pill-item me-2" 
             [routerLink]="['/organizador']" 
             routerLinkActive="active-link">
             <i class="bi bi-people-fill me-2"></i> Gestión organizador
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-pill-item me-2" 
             [routerLink]="['/pagos']" 
             routerLinkActive="active-link">
             <i class="bi bi-cash-coin me-2"></i> Gestión pagos
          </a>
        </li>

      </ul>

      <ul class="navbar-nav align-items-center">
        <li class="nav-item dropdown user-dropdown-trigger">
          <a class="nav-link dropdown-toggle d-flex align-items-center ps-1 py-1 pe-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="user-icon-circle me-3">
              <i class="bi bi-person"></i>
            </div>
            <span class="user-name-text">{{perfil()!.nombre}}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end custom-dropdown-menu p-3 shadow">
            <li>
              <a class="dropdown-item pill-item mb-2 d-flex align-items-center justify-content-center" [routerLink]="['/perfil']">
                <i class="bi bi-person-badge me-2"></i> Mi Perfil
              </a>
            </li>
            <li>
              <a type="button" class="dropdown-item pill-item d-flex align-items-center justify-content-center" [routerLink]="['/']" (click)="logout()">
               <i class="bi bi-box-arrow-right fs-4"></i> Cerrar Sesión
              </a>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
}